.coveragePageHero .reading-box { border: 5px solid #cc3a41 !important; }

.coveragePageHero .reading-box h3 span { font-weight: bold; color: #0055a5; }

.coveragePageHero h1 { color: #fff; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.coveragePageHero p { font-size: 20px; }

.insuranceCoverageButton .fusion-button { text-transform: none; font-size: 18px; line-height: 1; }

.insuranceCoverageButton .fusion-button:hover { background: #0055a5; color: #fff; }

.fusion-megamenu-title { padding: 0; }

.fusion-megamenu-title a { color: #fff; text-shadow: 0 0 15px #000; font-weight: bold; padding: 15px 30px 0; height: 80px; }

.fusion-megamenu-wrapper .fusion-megamenu-submenu { padding: 0; }
