$maxWidth-800: 'only screen and (max-width : 800px)';

#index-policyGrid {
	.fusion-column-wrapper {
		h4 {
			color: #fff;
			text-shadow: 0 2px 4px rgba(0,0,0,.50);
		}
	}

	.fusion-column-inner-bg a span {
		background-position: right center !important;
	}
}

@media #{$maxWidth-800} {
	#index-policyGrid {
		.fusion-row {
			max-width: 600px !important;
		}
	}
}
