.coveragePageHero {
	.reading-box {
		border: 5px solid $red !important;
	}

	h1 {
		color: #fff;
		text-shadow: 0 2px 4px rgba(0,0,0,.50);
		// padding-left: 10px !important;
		// padding-right: 10px !important;
		// background: rgba(0,85,165,.50);
	}

	p {
		font-size: 20px;
	}
}
