.insuranceCoverageButton {
	.fusion-button {
		text-transform: none;
		font-size: 18px;
		line-height: 1;

		&:hover {
			background: $blue;
			color: #fff;
		}
	}
}

.fusion-megamenu-title {
	a {
		color: #fff;
		text-shadow: 0 0 15px #000;
		font-weight: bold;
	}
}
