.insuranceCoverageButton {
	.fusion-button {
		text-transform: none;
		font-size: 18px;
		line-height: 1;

		&:hover {
			background: $blue;
			color: #fff;
		}
	}
}

.fusion-megamenu-title {
	padding: 0;

	a {
		color: #fff;
		text-shadow: 0 0 15px #000;
		font-weight: bold;
		padding: 0 30px;
	}
}

.singleLine {
	.fusion-megamenu-title {
		a {
			line-height: 80px;
		}
	}
}

.fusion-megamenu-wrapper {
	.fusion-megamenu-submenu {
		padding: 0;
		height: 80px;
	}
}
